body {
    background-color: lightblue;
}

.error {
    color: red;
}

.centered_forms {
    width: 30%;
    text-align: center;
    margin: auto;
    display: block;
    font-size: large;
}

.button_final {
    margin-top: 50px;
}