<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <h1>HOMEPAGE</h1>
    <div class="success" th:if="${logCorrectlyRegistered}" th:text="${logCorrectlyRegistered}"></div>
    <div class="error" th:if="${logSessionLogged}" th:text="${logSessionLogged}"></div>
    <div class="error" th:if="${logNoLogged}" th:text="${logNoLogged}"></div>
    <a class="btn btn-primary btn-lg" href="/private" role="button">Private</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</body>
</html>