<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Private</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <h1>PRIVATE</h1>
    <div class="success" th:if="${LogSuccessLogin}" th:text="${LogSuccessLogin}"></div>
    <form action="/logout" method="post">
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
        <button type="submit" class="btn btn-primary btn-lg">Logout</button>
    </form>
</body>
</html>